* {
    font-size:13px;
    font-family: "CodeNewRoman Nerd Font Propo";
}
window#waybar{
    all:unset;
}
.modules-left {
    padding:5px;
    padding-bottom: 3px;
    margin:5px;
    border-radius:8px;
    background: alpha(#1d2021,.5);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
.modules-center {
    padding:5px;
    padding-bottom: 3px;
    margin:5px;
    border-radius:8px;
    background: alpha(#1d2021,.5);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
.modules-right {
    padding:5px;
    padding-bottom: 3px;
    margin:5px;
    border-radius:8px;
    background: alpha(#1d2021,.5);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
tooltip {
    background:#1d2021;
    color: #fbf1c7;
}
#clock:hover, #custom-pacman:hover, #custom-notification:hover,##f9873btooth:hover,#network:hover,#battery:hover, #cpu:hover,#memory:hover,#temperature:hover{
    transition: all .3s ease;
    color:#f9873b;
}
#custom-notification {
    padding: 0px 5px;
    transition: all .3s ease;
    color:#fbf1c7;
}
#clock{
    padding: 0px 5px;
    color:#fbf1c7;
    transition: all .3s ease;
}
#custom-pacman{
    padding: 0px 5px;
    transition: all .3s ease;
    color:#fbf1c7;

}
#workspaces {
    padding: 0px 5px;
}
#workspaces button {
    all:unset;
    padding: 0px 5px;
    color: rgba(0,0,0,0);
    transition: all .5s ease;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, .5);
}
#workspaces button:hover {
    transition: all .5s ease;
    color:rgba(0,0,0,0);
    text-shadow: 0px 0px 1px rgba(0, 0, 0, .6);
}
#workspaces button.active {
    color: #f9873b;
    border: none;
    transition: all .5s ease;
}
#workspaces button.empty {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}
#workspaces button.empty:hover {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
}
#workspaces button.empty.active {
    color: #d65d0e;
    border: none;
    transition: all .5s ease;
}
#f9873btooth{
    padding: 0px 5px;
    transition: all .3s ease;
    color:#fbf1c7;

}

#bluetooth {
    padding: 0px 5px;
    transition: all .3s ease;
    color: #fbf1c7;
}

#network{
    padding: 0px 5px;
    transition: all .3s ease;
    color:#fbf1c7;

}
#battery{
    padding: 0px 5px;
    transition: all .3s ease;
    color:#fbf1c7;


}
#battery.charging {
    color: #b8bb26;
}

#battery.warning:not(.charging) {
    color: #fabd2f;
}

#battery.critical:not(.charging) {
    color: #fb4934;
    /*animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;*/
}
#group-expand{
    padding: 0px 5px;
    transition: all .3s ease; 
}
#custom-expand{
    padding: 0px 5px;
    color:alpha(white,.2);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
    transition: all .3s ease; 
}
#custom-expand:hover{
    color:rgba(255,255,255,.2);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
}
#custom-colorpicker{
    padding: 0px 5px;
}
#cpu,#memory,#temperature{
    padding: 0px 5px;
    transition: all .3s ease; 
    color:#fbf1c7;

}
#custom-endpoint{
    color:transparent;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);

}
#tray{
    padding: 0px 5px;
    transition: all .3s ease; 

}
#tray menu * {
    padding: 0px 5px;
    transition: all .3s ease; 
}

#tray menu separator {
    padding: 0px 5px;
    transition: all .3s ease; 
}
